@import "styles_main.css";

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
    background-color: #0f0c29;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: background 0.5s;
    /* Заборона виділення на мобільних */
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

    /* Фон змінюється при активації анімації */
    main.active {
        background: radial-gradient(circle at center, #2e0e26 0%, #000000 90%);
    }

.instruction-text {
    font-family: 'Orbitron', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 20%;
    transition: opacity 0.5s;
    pointer-events: none;
}

.scene {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ПОКЕБОЛ (SEQUENCE) */
.pokeball-sequence {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -150px;
    z-index: 10;
    /* Початковий кадр */
    background-image: url('../img/lab6/ball/tile000.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    pointer-events: none; /* Ігнорує кліки мишкою */
}

/* Анімація траєкторії польоту та обертання */
@keyframes ball-throw-move {
    0% {
        bottom: -150px;
        transform: scale(0.5) rotate(0deg);
        opacity: 1;
    }

    60% {
        bottom: 40%;
        transform: scale(1) rotate(720deg);
        opacity: 1;
    }

    100% {
        bottom: 45%;
        transform: scale(1.2) rotate(720deg);
        opacity: 1;
    }
}

/* Покадрова анімація відкриття (зміна картинок) */
@keyframes ball-open-frames {
    0% {
        background-image: url('../img/lab6/ball/tile000.png');
    }

    6% {
        background-image: url('../img/lab6/ball/tile001.png');
    }

    12% {
        background-image: url('../img/lab6/ball/tile002.png');
    }

    18% {
        background-image: url('../img/lab6/ball/tile003.png');
    }

    24% {
        background-image: url('../img/lab6/ball/tile004.png');
    }

    30% {
        background-image: url('../img/lab6/ball/tile005.png');
    }

    36% {
        background-image: url('../img/lab6/ball/tile006.png');
    }

    42% {
        background-image: url('../img/lab6/ball/tile007.png');
    }

    48% {
        background-image: url('../img/lab6/ball/tile008.png');
    }

    54% {
        background-image: url('../img/lab6/ball/tile009.png');
    }

    60% {
        background-image: url('../img/lab6/ball/tile010.png');
    }

    66% {
        background-image: url('../img/lab6/ball/tile011.png');
    }

    72% {
        background-image: url('../img/lab6/ball/tile012.png');
    }

    78% {
        background-image: url('../img/lab6/ball/tile013.png');
    }

    84% {
        background-image: url('../img/lab6/ball/tile014.png');
    }

    90% {
        background-image: url('../img/lab6/ball/tile015.png');
    }

    100% {
        background-image: url('../img/lab6/ball/tile016.png');
    }
}

/* Швидке зникнення елемента */
@keyframes fade-out-quick {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* ЕФЕКТ (SEQUENCE) */
.effect-sequence {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-image: url('../img/lab6/effect/tile000.png');
    background-size: cover;
    background-position: center;
    /* Режим накладання для прозорості чорного фону */
    mix-blend-mode: screen;
    opacity: 0;
    pointer-events: none;
}

/* Покадрова анімація блискавок */
@keyframes effect-frames {
    0% {
        opacity: 1;
        background-image: url('../img/lab6/effect/tile000.png');
    }

    7% {
        background-image: url('../img/lab6/effect/tile001.png');
    }

    14% {
        background-image: url('../img/lab6/effect/tile002.png');
    }

    21% {
        background-image: url('../img/lab6/effect/tile003.png');
    }

    28% {
        background-image: url('../img/lab6/effect/tile004.png');
    }

    35% {
        background-image: url('../img/lab6/effect/tile005.png');
    }

    42% {
        background-image: url('../img/lab6/effect/tile006.png');
    }

    49% {
        background-image: url('../img/lab6/effect/tile007.png');
    }

    56% {
        background-image: url('../img/lab6/effect/tile008.png');
    }

    63% {
        background-image: url('../img/lab6/effect/tile009.png');
    }

    70% {
        background-image: url('../img/lab6/effect/tile010.png');
    }

    77% {
        background-image: url('../img/lab6/effect/tile011.png');
    }

    84% {
        background-image: url('../img/lab6/effect/tile012.png');
    }

    91% {
        background-image: url('../img/lab6/effect/tile013.png');
    }

    100% {
        opacity: 1;
        background-image: url('../img/lab6/effect/tile014.png');
    }
}

/* ГЕНГАР */
.pokemon {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 20;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

    .pokemon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: none;
        outline: none;
        display: block;
        user-select: none;
        -webkit-user-drag: none;
    }

/* Поява з масштабуванням */
@keyframes pokemon-appear {
    0% {
        opacity: 0;
        transform: scale(0) translateY(50px);
    }

    60% {
        opacity: 1;
        transform: scale(1.2) translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* СЦЕНАРІЙ ЗАПУСКУ (.active) */

/* 1. Покебол: летить (1с), відкривається (0.8с), зникає */
main.active .pokeball-sequence {
    animation: ball-throw-move 1s ease-out forwards, ball-open-frames 0.8s 1s steps(1) forwards, fade-out-quick 0.1s 1.2s linear forwards;
}

/* 2. Ефект: програється (0.8с) і зникає */
main.active .effect-sequence {
    animation: effect-frames 0.8s 1.2s steps(1) forwards, fade-out-quick 0.1s 2.0s linear forwards;
}

/* 3. Генгар: з'являється в кінці */
main.active .pokemon {
    animation: pokemon-appear 0.6s 1.5s ease-out forwards;
}
