li:first-of-type {
    font-weight: bold;
}

li:last-child {
    color: red;
}

input:disabled {
    background-color: gray;
}

div > p {
    font-weight: 600;
}

[href^="https"] {
    color: green;
}

input[type="text"] {
    border: 1px solid blue;
}

li:first-child,
li:last-child {
    font-size: 24px;
}

div p {
    font-size: 16px;
}

input:checked {
    background-color: lightblue;
    accent-color: lightblue;
}

li > a {
    text-decoration: underline;
}

li:nth-child(even) {
    font-weight: bold;
}

input[type="text"]:not(:disabled) {
    background-color: gray;
}

p:first-child {
    font-size: 24px;
}

.special + li {
    text-decoration: line-through;
}

p::first-letter {
    font-size: 36px;
}

a::after {
    content: " ↗";
}
